$purple: #381446;
$light-purple: #f6f5f7;
$yellow: #f7a91d;
$light: #ffffff;
$margin-top: 2rem;
$section-margin: 4rem;
$margin-left: 4rem;
$margin-right: 4rem;
$margin-left-mobile: 2rem;
$margin-right-mobile: 2rem;
$shadow: 0 10px 20px 0 rgba(90, 122, 190, 0.2);

$sm-phone: 28.75rem;
$phone: 34rem;
$tablet: 45rem;
$desktop: 1025px;
$xl-desktop: 78rem;
